<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="-webkit-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
-moz-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29); padding: 20px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h4>{{diaActual}}</h4>
          <div class="pull-right action-buttons">
              <ul class="dropdown-menu slidedown">
                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let medicamento of medicamentos">
              <div class="checkbox">
                  {{medicamento.nombre}}
              </div>
              <div class="pull-right action-buttons">
                <span class="glyphicon glyphicon-pencil"></span>
              </div>

            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
