

<div id="page-body" style="-webkit-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
-moz-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29); padding: 20px;">
  <!-- [PERIOD SELECTOR] -->

  <div id="cal-date">

    <div class="row">
      <!--Seleccionar mes-->
      <div class="col-md-3">
        <select id="cal-mth" class="form-control"></select>
      </div>
      <!--Seleccionar año-->
      <div class="col-md-2">
        <select id="cal-yr" class="form-control"></select>
      </div>

      <!--Guardar cambios-->
      <div class="col-md-2">
        <input id="cal-set" type="button" value="Ir a fecha" class="btn btn-success"/>
      </div>

      <div class="col-md-5 boton" style="display: none">
        <app-agregar-medicamento></app-agregar-medicamento>
      </div>

      <div class="col-md-5 boton small" >
        Haga click en un dia para agregar un evento al calendario
      </div>

    </div>


  </div>

  <!-- [CALENDAR] -->
  <div id="cal-container" (click)="getDiaClicado()"></div>

  <!-- [EVENT] -->
  <div id="cal-event" ></div>
</div>
