<div style="-webkit-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
-moz-box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29);
box-shadow: -1px -1px 25px 12px rgba(0,0,0,0.29); padding: 20px;">
  <div>
    <h3 class="card-title">Título del Medicamento</h3>
    <div class="col-md-8">
      <p class="card-text text-justify">Integer vehicula ullamcorper elit gravida faucibus. Vestibulum at dui quis nibh pulvinar venenatis vel id nunc. Pellentesque sed leo in mauris dapibus interdum. Sed est libero, laoreet eget scelerisque nec, interdum ut turpis. Cras auctor nunc ut laoreet dictum. Sed vitae faucibus neque. Integer auctor vel ex vehicula tempor. Donec tempus justo porttitor erat volutpat viverra. Praesent ultricies, libero in tempus facilisis, ante leo.</p>
    </div>
    <img src="https://www.openfarma.com/tienda/116839-large_default/dalsy-20-mg-ml-suspension-oral-200-ml.jpg" width="220px" height="220px">
  </div>
</div>
